body {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  background-color: #050505;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
}

@font-face {
  font-family: 'Andada Pro';
  src: local('Andada Pro'), url(./fonts/Andada_Pro/AndadaPro-VariableFont_wght.ttf) format('truetype');
}

@font-face {
  font-family: 'Anek Odia';
  src: local('Anek Odia'), url(./fonts/Anek_Odia/AnekOdia-VariableFont_wdth\,wght.ttf) format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans'), url(./fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf) format('truetype');
}
